In [28]:
import requests
from requests.auth import HTTPBasicAuth
import pandas as pd

url= "https://kc.humanitarianresponse.info/api/v1/data/663511.json"

auth = HTTPBasicAuth('gw_monitoring', 'gwmonitor@2020')
# files = {'filename': open('filename.txt','rb')}

download = requests.get(url, auth=auth )
print('Download')
print(download.text)

Download
[{"_notes":[],"_tags":[],"_xform_id_string":"ahWTP3RnHcRszwAmTYy6mD","meta/instanceID":"uuid:4052baa1-664d-4793-a61f-6cc7f2a94fae","Main_group/location_details/municipality":"Nepalgunj","Main_group/measurement/gw_level":"12","_attachments":[],"_status":"submitted_via_web","formhub/uuid":"d5bacc5d731e4561ae624609109264c2","today":"2020-11-09","Main_group/enumerator_group/name_enum":"Saral","Main_group/location_details/geo_location":"27.716946 85.325224 0 0","_validation_status":{},"start_time":"2020-11-09T11:00:12.208+05:45","_uuid":"4052baa1-664d-4793-a61f-6cc7f2a94fae","Main_group/location_details/well_type":"sw","Main_group/location_details/village_name":"Bana","device_id":"ee.humanitarianresponse.info:j9RhFkrcDfiqkQsj","Main_group/location_details/ward":"1","__version__":"vR45v7TZXUWZM5VNeXedYD","_submission_time":"2020-11-09T05:15:42","_geolocation":[27.716946,85.325224],"_submitted_by":null,"end_time":"2020-11-09T11:00:41.334+05:45","Main_group/location_details/well_no_sw":"1-045/46(BK)21","_id":135940427},{"_notes":[],"_tags":[],"_xform_id_string":"ahWTP3RnHcRszwAmTYy6mD","Main_group/location_details/well_no_dt":"SP-1","meta/instanceID":"uuid:95accc46-e75b-4aa8-9969-fda52c1047d1","Main_group/measurement/gw_level":"6","_geolocation":[27.858504,82.912034],"Main_group/location_details/municipality":"Nepalgunj","_status":"submitted_via_web","formhub/uuid":"d5bacc5d731e4561ae624609109264c2","today":"2020-11-09","Main_group/enumerator_group/name_enum":"test_saral","Main_group/location_details/geo_location":"27.858504 82.912034 0 0","_validation_status":{},"start_time":"2020-11-09T11:26:06.462+05:45","_uuid":"95accc46-e75b-4aa8-9969-fda52c1047d1","Main_group/location_details/well_type":"dt","Main_group/location_details/village_name":"dude","device_id":"ee.humanitarianresponse.info:j9RhFkrcDfiqkQsj","Main_group/location_details/ward":"12","__version__":"vR45v7TZXUWZM5VNeXedYD","_submission_time":"2020-11-09T05:41:34","_attachments":[],"_submitted_by":null,"end_time":"2020-11-09T11:26:33.797+05:45","_id":135943477}]

In [29]:
df = pd.read_json(download.text)

In [30]:
df.columns

Index(['_notes', '_tags', '_xform_id_string', 'meta/instanceID',
       'Main_group/location_details/municipality',
       'Main_group/measurement/gw_level', '_attachments', '_status',
       'formhub/uuid', 'today', 'Main_group/enumerator_group/name_enum',
       'Main_group/location_details/geo_location', '_validation_status',
       'start_time', '_uuid', 'Main_group/location_details/well_type',
       'Main_group/location_details/village_name', 'device_id',
       'Main_group/location_details/ward', '__version__', '_submission_time',
       '_geolocation', '_submitted_by', 'end_time',
       'Main_group/location_details/well_no_sw', '_id',
       'Main_group/location_details/well_no_dt'],
      dtype='object')

In [31]:
df.columns = [
    '_notes', '_tags', '_xform_id_string', 'meta/instanceID',
       'Municipality',
       'gw_level', 'image_attachments', '_status',
       'uuid', 'today', 'Enumerator Name',
       'Geo_location', '_validation_status',
       'start_time', '_uuid', 'well_type',
       'village_name', 'device_id',
       'ward', '__version__', '_submission_time',
       '_geolocation', '_submitted_by', 'end_time',
       'well_no_sw', '_id','well_no_dt'
]

In [32]:
df_1 = df[['Enumerator Name','Geo_location','Municipality','village_name','ward','well_type','well_no_sw','well_no_dt','gw_level']]

In [33]:
df._geolocation

0    [27.716946, 85.325224]
1    [27.858504, 82.912034]
Name: _geolocation, dtype: object

In [34]:
df_1

,Enumerator Name,Geo_location,Municipality,village_name,ward,well_type,well_no_sw,well_no_dt,gw_level
0,Saral,27.716946 85.325224 0 0,Nepalgunj,Bana,1,sw,1-045/46(BK)21,NaN,12
1,test_saral,27.858504 82.912034 0 0,Nepalgunj,dude,12,dt,NaN,SP-1,6

In [35]:
df_1

,Enumerator Name,Geo_location,Municipality,village_name,ward,well_type,well_no_sw,well_no_dt,gw_level
0,Saral,27.716946 85.325224 0 0,Nepalgunj,Bana,1,sw,1-045/46(BK)21,NaN,12
1,test_saral,27.858504 82.912034 0 0,Nepalgunj,dude,12,dt,NaN,SP-1,6