In [236]:
import pandas as pd
import os
import xlsxwriter

In [51]:
os.getcwd()
os.chdir('/Users/saralkarki/OneDrive - CIMMYT/CIMMYT/CSISA_COVID_GW/')

In [52]:
df = pd.read_excel('data/preloaded_data/groundwater_location_data.xlsx')

In [53]:
dicts = df.to_dict('rows')

In [54]:
df.to_json('data/preloaded_data/swt.json')

In [55]:
### Cleaning the time-series dataset

In [88]:
path_to_data_dir = 'data/preloaded_data/Water table data of Banke/Banke'

In [134]:
mylist = os.listdir(path_to_data_dir)
mylist = sorted(mylist)
mylist.remove('.ipynb_checkpoints')
mylist.remove('.DS_Store')
mylist.remove('1.Gps locations.xls')

In [135]:
len(mylist)

18

In [62]:
os.getcwd()

'/Users/saralkarki/OneDrive - CIMMYT/CIMMYT/CSISA_COVID_GW'

In [68]:
df_1996 = pd.read_excel("data/preloaded_data/Water table data of Banke/Banke/1996.xls", header = 6)

In [179]:
# Using list comprehension to append
yearly_df = [f"df_{i}"for i in range(1996,2016)]

# x  = [yearly_df.append(f"df_{i}")for i in range(1996,2016)]
# for i in range(1996,2016):
#     yearly_df.append(f"df_{i}")
yearly_df.remove('df_2012')
yearly_df.remove('df_2013')

In [177]:
yearly_df

['df_1996',
 'df_1997',
 'df_1998',
 'df_1999',
 'df_2000',
 'df_2001',
 'df_2002',
 'df_2003',
 'df_2004',
 'df_2005',
 'df_2006',
 'df_2007',
 'df_2008',
 'df_2009',
 'df_2010',
 'df_2011',
 'df_2014',
 'df_2015']

In [205]:
d = {}
i = 0 
header_change = [6,6,6,6,6,5,5,4,4,5,6,3,5,3,3,3,6,6]


for name in yearly_df:
    d[f"{name}"] = pd.read_excel(f"data/preloaded_data/Water table data of Banke/Banke/{mylist[i]}", header = header_change[i])
    i+=1

In [206]:
d.keys()

dict_keys(['df_1996', 'df_1997', 'df_1998', 'df_1999', 'df_2000', 'df_2001', 'df_2002', 'df_2003', 'df_2004', 'df_2005', 'df_2006', 'df_2007', 'df_2008', 'df_2009', 'df_2010', 'df_2011', 'df_2014', 'df_2015'])

In [240]:
writer = pd.ExcelWriter('data/preloaded_data/Water table data of Banke/Banke/cleaned_data/cleaned_data.xlsx', engine='xlsxwriter')

for i in d.keys():
    d[i].to_excel(writer,sheet_name=f"{i}")

    print(d[i].shape, i)
writer.save()

(45, 16) df_1996
(48, 16) df_1997
(48, 16) df_1998
(46, 17) df_1999
(46, 17) df_2000
(37, 17) df_2001
(30, 18) df_2002
(56, 17) df_2003
(33, 18) df_2004
(39, 18) df_2005
(42, 18) df_2006
(36, 18) df_2007
(15, 7) df_2008
(42, 22) df_2009
(42, 22) df_2010
(42, 22) df_2011
(28, 18) df_2014
(28, 18) df_2015

In [175]:
d['']["df_1996"]

KeyError: ''